body, div{
    margin: 0;
    padding: 0;
    color: #222;
    font-family: sans-serif;
}

body {
    background: #ededed;
}

canvas {
    border: 1px solid #000;
}

.editor {
    margin: 30px;
    background: #fff;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}

.inputs {
    background-color: #bbb;
}